@model IEnumerable<TodoTask>
<ul>
    @foreach (var task in Model)
    {
        <li class="task hover:bg-gray-50 p-5 border-b">
            <div class="flex items-center justify-between break-all">
                <div class="break-normal pr-5">
                    <form method="post" class="inline-block" asp-page="/Tasks/Index" asp-page-handler="UpdateCheckbox" asp-route-id="@task.Id" asp-route-checkbox="completed">
                        <input asp-for="@task.IsCompleted" onclick="this.form.submit();"
                               class="rounded-full h-5 w-5 text-green-600 hover:text-green-700 cursor-pointer hover:bg-gray-50" />
                    </form>
                    @if (task.IsCompleted)
                    {
                        <span class="ml-2 text-gray-400">
                            <del>
                                @task.Description
                            </del>
                        </span>
                    }
                    else
                    {
                        <span class="ml-2 text-gray-700">
                            @task.Description
                        </span>
                    }
                </div>
                <div class="flex flex-shrink-0 items-center gap-10 mx-5">
                    <div class="flex gap-4 task-options text-gray-500">
                        <a class="hover:text-black" asp-route-id="@task.Id" asp-page="./Edit">
                            <img src="~/img/icons/edit-pen.svg" alt="" />
                        </a>

                        <form method="post" asp-page="/Tasks/Index" onsubmit="return confirm('The task will be permanently deleted. Are you sure you want to continue?')" asp-page-handler="Delete" asp-route-id="@task.Id">
                            <button class="focus:outline-none">
                                <img src="/img/icons/delete-list.svg" alt="" />
                            </button>
                        </form>

                    </div>
                    <form method="post" class="inline-block" asp-page="/Tasks/Index" asp-page-handler="UpdateCheckbox" asp-route-checkbox="important" asp-route-id="@task.Id">
                        <input asp-for="@task.IsImportant" onclick="this.form.submit(); setTimeout(() => { document.location.reload(true) }, 40);" class="h-5 w-5 text-yellow-600 cursor-pointer" />
                    </form>
                </div>
            </div>
            @if (task.DueAt != null)
            {
                <div class="ml-9">
                    <p class="text-sm @(task.IsCompleted?"text-gray-400":task.IsOverdue?"text-red-500":"text-blue-500") flex gap-2 items-center">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                        </span>
                        <span>
                            @(task.IsOverdue?"Overdue, ": "Due")
                            @if (task.DueAt.Value.Date == DateTime.Today.AddDays(-1))
                            {
                                <span>Yesterday</span>
                            }
                            @if (task.DueAt.Value.Date == DateTime.Today)
                            {
                                <span>Today</span>
                            }
                            else if (task.DueAt.Value.Date == DateTime.Today.AddDays(1))
                            {
                                <span>Tomorrow</span>
                            }
                            else if (task.DueAt.Value.Date < DateTime.Today.AddDays(7))
                            {
                                @task.DueAt.Value.ToString("dddd")
                            }
                            else if (task.DueAt.Value.Year > DateTime.Now.Year)
                            {
                                @task.DueAt.Value.ToShortDateString()
                            }
                            else
                            {
                                @task.DueAt.Value.ToString("ddd, MMMM d")
                            }
                        </span>
                    </p>
                </div>
            }
        </li>

    }
</ul>