@*@page
    @model LoginModel

    @{
        ViewData["Title"] = "Log in";
    }

    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@


@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="flex">
    <div class="flex-col flex mt-10 mx-auto items-center w-full lg:w-2/3 md:w-3/5">
        <div class="flex text-2xl items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            <h1 class="font-semibold">Login</h1>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" class="mt-2 flex flex-col lg:w-1/3 w-9/12">
            @*<div asp-validation-summary="All" class="text-red-500"></div>*@
            <div>
                <label asp-for="Input.Email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                <input asp-for="Input.Email" placeholder="example@domain.com" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                <span asp-validation-for="Input.Email" class="text-red-500"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                <input asp-for="Input.Password" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
                <span asp-validation-for="Input.Password" class="text-red-500"></span>
            </div>
            <button class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-blue-400 shadow-lg focus:outline-none transition hover:bg-blue-500 hover:shadow-none">
                Log in
            </button>
            <small class="text-gray-500 mt-2">
                Dont have an account yet?
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font-semibold text-black hover:underline">Register</a>
            </small>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*<link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <div class="flex">
        <div class="flex-col flex mt-10 mx-auto items-center w-full lg:w-2/3 md:w-3/5">
            <h1 class="font-semibold text-3xl my-10 text-gray-700"> Login</h1>
            <form id="account" method="post" class="mt-2 flex flex-col lg:w-1/3 w-9/12">
                <span asp-validation-for="Input.Email" class="text-red-400"></span>
                <div class="flex flex-wrap items-center w-full relative h-15 bg-white  rounded mb-6 pr-10">
                    <div class="flex -mr-px justify-center w-15 p-4">
                        <span class="flex items-center leading-normal bg-white px-3 border-0 rounded rounded-r-none text-2xl text-gray-600">
                            <i class="fas fa-user-circle"></i>
                        </span>
                    </div>
                    <input asp-for="Input.Email"
                           class="flex-shrink flex-grow flex-auto leading-normal w-px border-0 h-10 border-grey-light rounded rounded-l-none px-3 self-center relative  font-roboto text-xl outline-none"
                           placeholder="Email" />
                </div>
                <span asp-validation-for="Input.Password" class="text-red-400"></span>
                <div class="flex flex-wrap items-center w-full relative h-15 bg-white rounded mb-4">
                    <div class="flex -mr-px justify-center w-15 p-4">
                        <span class="flex items-center leading-normal bg-white rounded rounded-r-none text-xl px-3 whitespace-no-wrap text-gray-600">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <input asp-for="Input.Password" type="password"
                           class="flex-shrink flex-grow flex-auto leading-normal w-px border-0 h-10 px-3 relative self-center font-roboto text-xl outline-none"
                           placeholder="Password" />
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button class="bg-blue-400 hover:bg-blue-500 py-4 text-center px-17 md:px-12 md:py-4 text-white rounded leading-tight text-xl md:text-base font-sans my-5">
                    Log in
                </button>
                <small>
                    Dont have an account yet?
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font-semibold hover:underline">Register</a>
                </small>
            </form>
        </div>
    </div>*@




