@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.TodoList.Name</h1>

@*<p>
        <a asp-page="Create" asp-route-id="@Model.TodoList.Id">Add New Task</a>
    </p>*@

@*Add Task*@
<div class="row bg-light p-3">
    <div class="col-md-2">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="TodoTask.IsCompleted" />
            <div class="form-group">
                @*<label asp-for="TodoTask.Description" class="control-label"></label>*@
                <input id="taskDescription" asp-for="TodoTask.Description" placeholder="Enter new task..." class="form-control" />
                <span asp-validation-for="TodoTask.Description" class="text-danger"></span>
            </div>
            <div id="addTaskForm" class="d-none">
                <div class="form-group">
                    @*<label asp-for="TodoTask.DueAt" class="control-label"></label>*@
                    <input asp-for="TodoTask.DueAt" class="form-control" />
                    <span asp-validation-for="TodoTask.DueAt" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="TodoTask.IsImportant" />
                        @Html.DisplayNameFor(model => model.TodoTask.IsImportant)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add new task" class="btn btn-primary" />
                    <a href="#" id="cancelButton">Cancel</a>
                </div>

            </div>
        </form>
    </div>
</div>
@*End Add Task*@

@*<table class="table">
        <tbody>
            @foreach (var task in Model.TodoTasks)
            {
                <tr>
                    @if (task.IsCompleted)
                    {
                        <td>
                            <del>
                                <a asp-page="./Edit" asp-route-id="@task.Id">
                                    @Html.DisplayFor(modelItem => task.Description)
                                </a>
                            </del>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@task.Id">
                                @Html.DisplayFor(modelItem => task.Description)
                            </a>
                        </td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => task.DueAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.IsCompleted)
                    </td>
                    <td>
                        <input class="star" asp-for="@task.IsImportant" />
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@task.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@task.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

@foreach (var task in Model.TodoTasks)
{
    <div class="d-flex align-items-center pb-3">
        @Html.DisplayFor(modelItem => task.IsCompleted)
        @if (task.IsCompleted)
        {
            <a asp-page="./Edit" asp-route-id="@task.Id">
                <del>
                    @Html.DisplayFor(modelItem => task.Description)
                </del>
            </a>
        }
        else
        {
            <a asp-page="./Edit" asp-route-id="@task.Id">
                @Html.DisplayFor(modelItem => task.Description)
            </a>
        }

        <div class="mr-5">
            @Html.DisplayFor(modelItem => task.DueAt)
        </div>
        <div class="mr-5">
            <input asp-for="@task.IsImportant" />
        </div>
        <div class="mr-5">
            <a asp-page="./Edit" asp-route-id="@task.Id">Edit</a>
        </div>
        <div class="mr-5">
            <a asp-page="./Delete" asp-route-id="@task.Id">Delete</a>
        </div>
    </div>
}
<div>
    <a asp-page="/Lists/Invite" asp-route-id="@Model.TodoList.Id">Invite Collaborator</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let input = document.querySelector("#taskDescription");
        let cancelButton = document.querySelector("#cancelButton");
        let addForm = document.querySelector("#addTaskForm");
        input.addEventListener("focus", function () {
            addForm.classList.remove("d-none");
        })
        cancelButton.addEventListener("click", function () {
            addForm.classList.add("d-none");
        })
    </script>
}



@*@await Component.InvokeAsync("Tasks")*@
