@page
@model IndexModel

@{
    ViewData["Title"] = Model.TodoList.Name;
}

<div class="flex items-baseline justify-between gap-2 mr-10 py-3 border-b">
    <h3 id="list-title" class="text-4xl">@Model.TodoList.Name</h3>
</div>


<div class="flex gap-1 items-center text-sm justify-end mr-10 mt-2">
    <input class="h-3 w-3 rounded-full text-green-500 cursor-pointer" type="checkbox" id="hide-completed-checkbox" />
    <label for="hideCompleted">Hide completed tasks</label>
</div>
<partial name="_AddTaskPartial" model="@Model.TodoTask" />
<partial name="_ListOfTasksPartial" model="@Model.TodoList.Tasks.OrderBy(t=>t.CreatedAt).OrderBy(t=>t.IsCompleted)" />

@if (Model.UserIsListCreator)
{
    <div class="flex mt-3 pt-3 space-x-5 text-gray-700">
        <div class="hover:text-black">
            <a class="flex items-center gap-1" asp-page="/Lists/Invite" asp-route-id="@Model.TodoList.Id">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
                </svg>
                Invite Collaborator
            </a>
        </div>
        <div class="gap-2 hover:text-black">
            <form asp-page-handler="DeleteList" asp-route-id="@Model.TodoList.Id">
                <button class="flex items-center gap-1 focus:outline-none" onclick="return confirm('The list will be permanently deleted. Do you want to continue?')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    Delete list
                </button>
            </form>
        </div>
    </div>
}

@* This is only used for retrieving the listId in Javascript *@
<a asp-route-id="@Model.TodoList.Id" class="list-id" hidden></a>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
         let startPicker = flatpickr("#dueAt", {
            locale: "en",
            enableTime: false,
            altInput: true,
            altFormat: "l F j",
             dateFormat: "Y-m-d",
            minDate: "@DateTime.Today",
         })

        const toggleAddTask = () => {
            $('#add-task-input').focus(function () {
                $("#add-task-extra").slideDown("fast");
            })

            $('#cancel-button').click(function () {
                $("#add-task-extra").slideUp("fast");
            })
        }
        const checkbox = document.querySelector("#hide-completed-checkbox");
        $("#hide-completed-checkbox").click(() => {
            localStorage.setItem("hideCompletedTasks", checkbox.checked ? "true" : "false");
            $(".completed-task").slideToggle("fast");
        })
        toggleTaskVisibility = () => {

            if (localStorage.getItem("hideCompletedTasks") === "true") {
                checkbox.checked = true;
                $(".completed-task").hide();
            } else {
                checkbox.checked = false;
                $(".completed-task").show();
            }
        }

        toggleTaskVisibility();
        toggleAddTask();
    </script>
}
